<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  <project>
    <name>SeleniumSearchTest1</name>
    <triggers>
      <scheduleTrigger time="23:30" buildCondition="ForceBuild">
        <weekDays>
          <weekDay>Monday</weekDay>
          <weekDay>Friday</weekDay>
        </weekDays>
      </scheduleTrigger>
    </triggers>
    <workingDirectory>C:\Projects\SeleniumTest</workingDirectory>
    <tasks>
      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <workingDirectory>C:\Projects\SeleniumTest</workingDirectory>
        <projectFile>SeleniumTest.sln</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Debug /v:diag</buildArgs>
        <targets>Build</targets>
        <timeout>900</timeout>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
      <exec>
        <executable>DelResults.bat</executable>
        <baseDirectory>.\</baseDirectory>
      </exec>     
      <exec>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\MSTest.exe</executable>        
        <baseDirectory>.\</baseDirectory>
        <buildArgs> /testcontainer:SeleniumSearch\bin\Debug\SeleniumSearch.dll /resultsfile:Results\results1.trx</buildArgs>
      </exec>     
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>.\Results\results1.trx</file>
        </files>
      </merge>
	  <xmllogger />	  
    </publishers>
  </project>
</cruisecontrol>